*{
    box-sizing: border-box;
}
body{
    width:100vw;
    max-width: 100%;
    margin: 0;
    padding:0;
    display: flex;
    justify-content: center;
    align-items: center;
}

h4{
    color:rgb(255, 123, 0);
    font-size: 2em;
}

form{
    width:40%;
}

.flex-column{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.flex-row{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.flex-spacebetween{
    display: flex;
    justify-content: space-between;
    width:100%;
}

.width-half{
    width:50%;
}

.width-third{
    width:33%;
}


.text-label{
    color:rgb(255, 123, 0);
    margin-bottom:10px
}

.text-input{
    padding:10px;
    border:1px solid #c9c9c9;
    margin:10px 5px 0 0;
}

.text-input:focus{
    outline:1px solid rgb(255, 123, 0);
}

select[class="text-input"]{
    background-color: #fff;
}

textarea{
    resize: none;
}

textarea:focus{
    outline:1px solid rgb(255, 123, 0);
}

.custom-button{
    background-color: rgb(255,123,0);
    color:#fff;
    border:0;
    margin:10px 0 0 0;
    padding:10px;
}

.reset{
    width:30%;
}

.submit{
    width:67%;
}

.custom-button:hover{
    background-color: rgb(240,100,0);
    cursor: pointer;
}

@media only screen and (max-width:768px){
    form{
        width:100%;
    }

    .flex-row{
        flex-direction: column;
        justify-content: center;
    }

    .flex-column{
        justify-content: center;
    }

    .text-input{
        width:90%;
    }

    .width-half{
        width:100%;
    }
    .width-third{
        width:100%;
    }

    .reset{
        width:100%;
    }
    .submit{
        width:100%;
    }
    h4{
        text-align: center;
    }

    .text-label{
        text-align: center;
        margin-bottom: 0;
    }

    .text-input{
        margin: 10px auto 0 auto;
    }

    .media-label{
        text-align: center;
        font-size:1em;
    }   

    .media-row{
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
    .media-radio{
        width:50%;
        flex-direction: row;
    }

    .flex-wrap{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
    }
}